@model CRM.Domain.Entities.CategReclam

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer Catégorie Réclamation</h2>

<h3>Etes vous sûr de vourloir supprimer ?</h3>
<div>
    <h4>Categorie Réclamation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReclamCateg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReclamCateg)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la Liste ", "Index")
        </div>
    }
</div>
