@model CRM.Domain.Entities.CategReclam

@{
    ViewBag.Title = "Details";
}

<h2>Détails Catégorie Réclamation</h2>

<div>
    <h4>Catégorie Réclamation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReclamCateg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReclamCateg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategReclamId }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
