@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h1>Application développé par :</h1>
<div class="alert-success">
    <h2 class="text-center">Bilel SWII</h2>
    <h2 class="text-center">Atef MASGHOUNI</h2>
    <h2 class="text-center">Hafedh KHEDHIRI</h2>
    <h2 class="text-center">Med Amine BOUZIRI</h2>
    <h2 class="text-center">Nasresddine KHAMMESSI</h2>
</div>