@{
    ViewBag.Title = "Home Page";

    //@using Microsoft.AspNet.Identity

    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    var utilisateur="";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"\images\" + newFileName;
            photo.Save(@"~/" + imagePath);
        }
    }

    if (Request.IsAuthenticated)
    {
        utilisateur = User.Identity.Name;
    }

}

<div class="jumbotron">
    <h1>MY CRM </h1>
    @if (imagePath != "")
    {
        <img src="@imagePath" alt="image" />
    }
    @if (imagePath == "")
    {
        <img src="/images/Logo_ESPRIT_Ariana.jpg" alt="image" />
    }

    <p class="lead">Bienvenue @utilisateur dans notre CRM </p>
    <div class="col-md-4">
        <a href="/Customers" class="btn btn-primary btn-lg">Gérer Client &raquo;</a>
    </div>
    <div class="col-md-4">
        <a href="/Reclamations" class="btn btn-primary btn-lg">Gérer Réclamation &raquo;</a>
    </div>

    <!--Changer image-->
    <div class="col-md-4">
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="Image" class="btn btn-primary btn-lg">
            <input type="submit" class="btn btn-primary btn-lg" value="Charger Logo" />
        </form>
    </div>
</div>



@*<div class="row">*@
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@

    <!--affichage image-->
    @*<div class="col-md-4">
            <form action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend> Upload Image </legend>
                    <label for="Image">Image</label>
                    <input type="file" name="Image" />
                    <br />
                    <input type="submit" value="Upload" />
                </fieldset>
            </form>
            <h1>Uploaded Image</h1>
            @if (imagePath != "")
            {
                <div class="result">
                    <img src="@imagePath" alt="image" />

                </div>
            }

        </div>

    </div>*@